body {
    margin:15px;
}

svg .rects:hover { 
    stroke-width:1;
    stroke:rgb(0,0,0)
}

.active {
    fill: #33f;
}

.random{
    stroke-width:2;
    stroke:#f00;
}

svg .rects { 
    transition: 50ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 50ms;
    -webkit-transition-timing-function: ease-in-out;
}